body {
    background-color: rgb(255, 207, 215);
}

.container {
    background-color: aliceblue;
    margin-top: 50px;
    width: 450px;
    height: 570px;
    box-shadow: 1px 1px rgb(192, 192, 192);
    position: relative;
}

h1 {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding: 25px;
    position: absolute;
}

.text1 {
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
    margin-top: 80px;
    padding-left: 25px;
    position: absolute;
}

input[type="text"]{
    background-color: rgb(240, 240, 240);
}

input[type="email"]{
    background-color: rgb(240, 240, 240);
}

input[type="password"]{
    background-color: rgb(240, 240, 240);
}

form {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 150px;
    position: absolute;
}

footer {
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    color: grey;
    text-align: center;
}

.col-md-6 {
    margin-bottom: 22px;
}