body {
    background-color: rgb(255, 207, 215);
}

.container {
    background-color: aliceblue;
    margin-top: 50px;
    width: 450px;
    height: 550px;
    box-shadow: 1px 1px rgb(192, 192, 192);
    position: relative;
}

h1 {
    padding: 25px;
    position: absolute;
}

.text1 {
    color: grey;
    margin-top: 80px;
    padding-left: 25px;
    position: absolute;
}

form {
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 150px;
    position: absolute;
}

footer {
    padding: 20px;
    color: grey;
    text-align: center;
}