body{
    background-color: rgb(44,48,52);
}

.container {
    padding-top: 75px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
}

thead {
    color: rgb(209, 255, 148);
}

audio {
    position: absolute;
    margin-inline: 80%;
    margin-top: 10px;
    padding: 10px;
}