.color2 {
    background-color: rgb(138, 255, 255);
}

.color3 {
    background-color: rgb(255, 120, 120);
}

.color4 {
    background-color: rgb(182, 103, 255);
}

.color5 {
    background-color: rgb(255, 255, 142);
}

.color6 {
    background-color: rgb(75, 171, 255);
}

.color7 {
    background-color: rgb(255, 156, 229);
}

.color12 {
    background-color: rgb(126, 255, 126);
}

.row > * {
    border: 1px solid black;
    text-align: center;
}