.color2 {
    background-color: rgb(138, 255, 255);
}

.color3 {
    background-color: rgb(255, 120, 120);
}

.color4 {
    background-color: rgb(182, 103, 255);
}

.color5 {
    background-color: rgb(255, 255, 142);
}